.footer{
  color: white;
  background-color: #303133;
  padding: 10px;
  margin-top: 350px;
  margin-botton: 0px;
  font-size: 20px;
}

body{
  font-family: "helvetica", sans-serif;
  background-color: black;
  text-align: center;
}