      h1{
        color: red; 
      }
    
      h2{
        color: blue;
      }
      
      h3{
        color: pink;
      }
      
      #segundo{
        color: yellow;
      }
      
      .cianoimpostor{
        color: rgb(255, 10, 10);
      }

      .teste1{
        color: brown;
        font-weight: 900;
        text-shadow:1px 1px red 
      }