*{
  box-sizing: border-box;
 margin: 0px;
  padding: 0px;
  
}

body{
  font-family: "helvetica", sans-serif;
  color: white;
  text-align: center;
  background-image: url(https://cdn.glitch.com/963171da-afdc-4769-bd91-83e1e81ced3f%2Fdino.jpg?v=1622829553351);
}

.header{
  background-color: #27271F;
  padding: 30px;
  text-align: center;
}

.header h1{
  margin-bottom: 5px;
}


.topnav{
  background-color: cyan;
}

.topnav a{
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 10px 30px;
}

.topnav a:hover{
  background-color: #8EE7FD;
}

.main{
  display: flex;
  height: 61vh;
}

.left-menu{
  background-color: #662D00;
  padding: 10px;
}


.left-menu h1{
  margin: 5px 0px;
}

.left-menu a{
  text-decoration: none;
  color: white;
  background-color: grey;
  display: block;
  padding: 8px;
  margin-bottom: 5px;
  font-weight: bold;
}

.left-menu a:hover{
  background: rgb(145, 145, 145);
}



.article{
  background-color: orange;
  padding: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.aside{
  background-color: black;
  padding: 10px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 20%;
}

.footer{
  background-color: black;
  padding: 10px;
}


@media all and (max-width: 800px){
  .header{
    background-color: red;
  }
  .main{
    flex-direction: column;
    flex-direction: wrap;
  }
  .left-menu, .article, .aside{
    flex-direction: 0 1 auto;
  }
}