body{
  background-image: url("https://cdn.glitch.com/963171da-afdc-4769-bd91-83e1e81ced3f%2Fwryyy.gif?v=1617994584217");
  background-repeat: no-repeat;
  background-size: cover;
}

.inicio{
  color: red;
  text-align: center;
  border: 5px solid red
}