*{
  box-sizing: border-box;
 margin: 0px;
  padding: 0px;
  
}

body{
  font-family: "helvetica", sans-serif;
  color: white;
}

.header{
  background-color: #27271F;
  padding: 30px;
  text-align: center;
}

.header h1{
  margin-bottom: 5px;
}


.topnav{
  background-color: cyan;
}

.topnav a{
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}

.topnav a:hover{
  color: red;
  font-size: 20px;
}

.main{
  background-color: #A63C06;
  color: white;
}

.left-menu{
  background-color: green;
  color: white;
}

.article{
  background-color: orange;
  color: white;
}

.aside{
  background-color: black;
  color: white;
}

.footer{
  background-color: red;
  color: white;
}